<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nhnnext.domains.PhotoMapper">
	<select id="findByName" resultType="photo">
		select * from PHOTOS where original_name= #{originalFileName}
	</select>

	<select id="findByUniqueUrl" resultType="photo">
		select * from PHOTOS where unique_id = #{uniqueId}
	</select>
	
	<select id="getNumOfPhotos" resultType="int">
		select COUNT(*) from PHOTOS where MOSAICS_id = #{mosaicId}
	</select>

	<insert id="upload">
		INSERT INTO PHOTOS (unique_id, original_name, width, height, MOSAICS_id)
		VALUES (#{uniqueId}, #{originalFileName}, #{width}, #{height},
		#{mosaicId})
	</insert>


</mapper>