html, body {
	position: relative;

	min-width: 900px;
	height: 100%;
	min-height: 600px;

	font-family: "Apple SD Gothic Neo";
}

body * {
	box-sizing: border-box;
	-webkit-appearance: none;
}

.positioner {
	position: relative;
	height: 100%;
}

.header {
	position: relative;
	height: 45px;

	background-color: #E2E2E2;
}

.header>div {
	position: absolute;
	width: 100px;
	height: 30px;

	top: 50%;
	margin-top: -15px;

	border: 1px solid #777;

	text-align: center;
	line-height: 30px;
}

.header .logo {
	left: 30px;
}

.header .user {
	right: 30px;
}

.make {
	position: absolute;

	left: 0px;
	right: 0px;
	top: 45px;
	bottom: 0px;
}

.make .contents {
	position: absolute;

	width: 80%;
	height: 80%;

	left: 10%;
	top: 7.5%;
}

.make span:nth-child(1) {
	display: table;

	width: 100%;
	height: 40px;
}

.make span div {
	display: table-cell;
	border: 1px solid #bdc7d8;
}

.make span div:nth-child(1) {
	width: 300px;
	border-right: none;
}

.make input[type=text] {
	margin: 0px;
	padding: 5px 5px;

	border: none;

	font-size: 16px;
	line-height: 28px;
}

.make input[name=title] {
	width: 297px;
}

.make input[name=subtitle] {
	width: 100%;
}

.make .contents > div {
	padding: 8px;
}

.make .pictures {
	position: absolute;

	left: 0px;
	right: 0px;
	top: 40px;
	bottom: 80px;

	border: 1px solid #bdc7d8;
	border-top: none;
}

.make .controll {
	position: absolute;

	width: 100%;
	height: 80px;

	bottom: 0px;
}

.make .controll button {
	position: absolute;

	left: 50%;
	top: 50%;

	margin-left: -43.5px;
	margin-top: -23px;

	padding: 15px 20px;

	border: none;
	border-radius: 5px;

	font-size: 14px;
	line-height: 16px;

	background-color: #AAA
}

