/*Denim RGBA(54, 117, 199, 1)*/
/*Beau Blue RGBA(194, 216, 237, 1)*/
/*Light Gray RGBA(209, 209, 209, 1)*/
/*White RGBA(255, 255, 255, 1)*/
/*Kelly Green RGBA(45, 180, 3, 1)*/
/*Magnesium RGBA(180, 180, 180, 1)*/

/*font-family: 'Lato', sans-serif;*/
@import url(http://fonts.googleapis.com/css?family=Lato:100,400);

header {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
	width: 100%;
	height: 70px;
	background: RGBA(255, 255, 255, 0.9);
	box-shadow: 0px 2px 5px RGBA(180, 180, 180, 0.5);
}

header a {
	padding: 0px 50px;
	float: right;
	height: inherit;
	background: RGBA(180, 180, 180, 1);
	text-align: center;
	-webkit-transition: background-color 0.3s;
}

header a:hover {
	background: RGBA(54, 117, 199, 0.7);
}

header a span {
	margin-top: 25px;
	display: inline-block;
	font-size: 20px;
	color: RGBA(255, 255, 255, 1);
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}
/*service*/
header a:nth-child(1) {
	float: left;
}
/*user*/
header a:nth-child(2) {
	
}
/*make*/
header a:nth-child(3) {
	border-right: 1px solid RGBA(255, 255, 255, 1);
}