/*Denim RGBA(54, 117, 199, 1)*/
/*Beau Blue RGBA(194, 216, 237, 1)*/
/*Light Gray RGBA(209, 209, 209, 1)*/
/*White RGBA(255, 255, 255, 1)*/
/*Kelly Green RGBA(45, 180, 3, 1)*/
/*Magnesium RGBA(180, 180, 180, 1)*/

/*font-family: 'Lato', sans-serif;*/
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic,400italic,700italic,900italic);
header {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 995;
	width: 100%;
	min-width : 600px;
	height: 40px;
	background: RGBA(255,255,255,1);
	border-bottom : 1px solid RGBA(10,10,10,1);
	transition : height 0.4s;
	-webkit-transition : height 0.4s;
	-moz-transition : height 0.4s;
	-o-transition : height 0.4s;
}

header:hover {
	height : 60px;
	transition : height 0.4s;
	-webkit-transition : height 0.4s;
	-moz-transition : height 0.4s;
	-o-transition : height 0.4s;
}

header #headerWrapper {
	position: relative;
	top : 0px;
	left : 0px;
	z-index: 996;
	width : 100%;
	height : 100%;
	min-width : 600px;
	max-width : 900px;
	margin : auto;
	font-family : none;
}

#headerWrapper a {
	height : 100%;
}

#headerWrapper button{
	border : none;
	background : none;
	height : 100%;
	outline : none;
}

#headerWrapper div a {
	height : 100%;
}

#headerWrapper a button span{
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	transition : text-shadow 0.4s;
	-webkit-transition : text-shadow 0.4s;
	-moz-transition : text-shadow 0.4s;
	-o-transition : text-shadow 0.4s;
	text-shadow: 0px 0px RGBA(0,0,0,0);
}

#headerWrapper a:hover button span{
	text-shadow: 2px 2px RGBA(0,0,0,0.15);
	transition : text-shadow 0.4s;
	-webkit-transition : text-shadow 0.4s;
	-moz-transition : text-shadow 0.4s;
	-o-transition : text-shadow 0.4s;
}

#headerWrapper span.logo{
	font-weight: 900;
	letter-spacing: -1px;
}

#headerWrapper div.existUser{
	width : 150px;
	height : 100%;
	position : absolute;
	top : 0px;
	right : 0px;
	text-align : center;
	z-index : 990;
	background-color : RGBA(255,255,255,1);
}

#headerWrapper div.existUser button:nth-child(1){
	font-size : 15px;
	font-weight : 100;
	font-style : italic;
	width : 100%;
	background-color : RGBA(255,255,255,1);
}

#headerWrapper div.existUser:hover .popUpBox{
	top : 59px;
	transition : top 0.4s;
	-moz-transition : top 0.4s;
	-o-transition : top 0.4s;
	-webkit-transition : top 0.4s;
}

#headerWrapper div.existUser .popUpBox{
	z-index : -1000;
	width : 100%;
	position : absolute;
	top : -45px;
	right : 0px;
	height : 80px;
	-webkit-transition : top 0.4s;
	transition : top 0.4s;
	-moz-transition : top 0.4s;
	-o-transition : top 0.4s;
}

#headerWrapper div.existUser .popUpBox a{
	width : 100%;
	height : 40px;
	display : block;
}

#headerWrapper div.existUser .popUpBox a:nth-child(1) button{
	background-color : RGBA(245,245,245,1);
}

#headerWrapper div.existUser .popUpBox a:nth-child(2) button{
	background-color : RGBA(250,250,250,1);
}

#headerWrapper div.existUser:hover .popUpBox a:hover button{
	background-color : RGBA(100,100,100,1);
}
#headerWrapper div.existUser:hover .popUpBox a:hover button span{
	text-shadow: 2px 2px RGBA(0,0,0,0);
	color : RGBA(255,255,255,1);
}


#headerWrapper div.noneUser {
	width : 200px;
	height : 100%;
	position : absolute;
	top : 0px;
	right : 0px;
	text-align : center;
	z-index : 990;
	background-color : RGBA(255,255,255,1);
}




