/*Denim RGBA(54, 117, 199, 1)*/
/*Beau Blue RGBA(194, 216, 237, 1)*/
/*Light Gray RGBA(209, 209, 209, 1)*/
/*White RGBA(255, 255, 255, 1)*/
/*Kelly Green RGBA(45, 180, 3, 1)*/
/*Magnesium RGBA(180, 180, 180, 1)*/

/*
font-family: 'Lato', sans-serif;
font-family: 'Shadows Into Light', cursive;
*/
#lightBox.hide {
	/*display : block;*/
	display: none;
}

#lightBox.show {
	/*display : none;*/
	display: block;
	overflow : auto;
	width : 100%;
	height : 100%;
}

#lightBox input[type='button'] {
	position: fixed;
	right: 0px;
	top: 0px;
	width: 75px;
	height: 75px;
	background: none;
	border: none;
	color: RGBA(255, 255, 255, 0.8);
	font-size: 35px;
	font-family: 'Lato', sans-serif;
	-webkit-transform: rotate(0deg);
	background: none;
	height: 75px;
	background: none;
	border: none;
	color: RGBA(255, 255, 255, 0.8);
	font-size: 35px;
	font-family: 'Lato', sans-serif;
	-webkit-transform: rotate(0deg);
	-webkit-transition: font-size 0.5s, transform 0.5s, color 0.5s;
}

#lightBox input[type='button']:hover {
	-webkit-transform: rotate(360deg);
	color: RGBA(255, 255, 255, 1.0);
	font-size: 60px;
	width: 75px;
	height: 75px;
}

#lightBox input[type='button']:focus {
	outline: none;
}

/* thumbnail view */
#lightBox.thumbnail {
	overflow-y: hidden;
	overflow-x: hidden;
}

#lightBox.thumbnail section {
	height: 70%;
	text-align: center;
	margin-top: 10%;
}

#lightBox.thumbnail section p {
	color: RGBA(255, 255, 255, 0.8);
	width: 100%;
	height: 80px;
}

#lightBox.thumbnail section p span {
	display: inline-block;
	height: 100%;
	font-size: 60px;
}

#lightBox.thumbnail section img {
	height: 80%;
}

/* slide view */
#lightBox.slide section {
	position: absolute;
	width: 80%;
	top: 0px;
	left: 0px;
	min-width: 400px;
	height: 100%;
	text-align: center;
	min-width: 400px
}

#lightBox.slide section div {
	width: 100%;
	/* height : 100%; */
}

#lightBox.slide section div.previous {
	position: relative;
	height: 20%;
}

#lightBox.slide section div.previous::after {
	content: "";
	width: 50%;
	position: absolute;
	left: 25%;
	bottom: 10%;
	height: 100%;
	background: RGBA(10, 10, 10, 0.8);
}

#lightBox.slide section div div {
	width : 100%;
	height : 100%;
	position : relative;
	left : 0px;
	top : 0px;
}

#lightBox.slide section div.previous img {
	width: 50%;
	position: absolute;
	left: 25%;
	bottom: 10%;
}

#lightBox.slide section div.current {
	height: 60%;
}

#lightBox.slide section div.current::after {
	content : "";
}
	
#lightBox.slide section div.current img.heightDepend {
	height: 100%;
}

#lightBox.slide section div.current img.widthDepend {
	width: 100%;
	position : absolute;
	top : 0px;
	left : 0px;
}

#lightBox.slide section div.next {
	height: 20%;
	position: relative;
}

#lightBox.slide section div.next::after {
	content: "";
	width: 50%;
	position: absolute;
	left: 25%;
	top: 10%;
	height: 100%;
	background: RGBA(10, 10, 10, 0.8);
}

#lightBox.slide section div.next img {
	width: 50%;
	position: absolute;
	left: 25%;
	top: 10%;
}

#lightBox.slide nav {
	position: absolute;
	width: 20%;
	min-width: 100px;
	left: 80%;
	top: 75px;
	height: 100%;
	text-align: center;
	vertical-align: top;
	height: 100%;
}

#lightBox.slide nav section {
	position: absolute;
	width: 100%;
	height: 80%;
	left: 0px;
	right: 0px;
	margin-left : 80px;
}

#lightBox.slide nav section::before {
	content : "";
	width : 10px;
	height : 100%;
	border : 1px solid RGBA(54, 117, 199, 0.8);
	background : RGBA(54, 117, 199, 0.5);
	position : absolute;
	top : 5px;
	left : -5px;
}
/*Denim RGBA(54, 117, 199, 1)*/
/*Beau Blue RGBA(194, 216, 237, 1)*/
/*Light Gray RGBA(209, 209, 209, 1)*/
/*White RGBA(255, 255, 255, 1)*/
/*Kelly Green RGBA(45, 180, 3, 1)*/
/*Magnesium RGBA(180, 180, 180, 1)*/



 #lightBox.slide nav input[type="range"] {
	-webkit-appearance: none;
	position: absolute;
	width: 480px;
	height: 10px;
	top: 240px;
	left: -240px;
	background : none;
	border : 40px solid RGBA(0,0,0,0);
	-webkit-transform: rotate(90deg);
}

#lightBox.slide nav input[type="range"]:focus {
	outline: none;
}

#lightBox.slide nav input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	background: RGBA(194, 216, 237, 1);
	height: 20px;
	width: 20px;
	box-shadow: 0px 0px 1px 1px RGBA(80, 80, 80, 0.9);
	-webkit-transition: height 0.5s, width 0.5s;
}

#lightBox.slide nav div {
	-webkit-transition: left 0.5s;
	position: absolute;
	top: 0px;
	left: -80px;
	width: 50px;
	height: 50px;
}

#lightBox.slide nav div img{
	width : 100%;
}

/* #lightBox nav input[type="range"] {
	height: 10px;
	width: 600px;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	-webkit-transform: rotate(90deg);
}

#lightBox nav input[type="button"] {
	width: 32px;
	height: 32px;
	top: 20px;
	right: 20px;
	background: url(/images/button/cancel.png);
	border: none;
}

#lightBox nav input[type="button"]:focus {
	outline: none;
}

#lightBox.slide section div.previous {
	width: 60%;
	left: 20%;
	bottom: 85%;
}

#lightBox section div.previous img {
	width: 100%;
}

#lightBox section div.current {
	width: 80%;
	height: 64%;
	left: 10%;
	top: 18%;
	text-align: center;
}

#lightBox section div.current img {
	height: 100%;
}

#lightBox section div.current img.over {
	width: 100%;
	height: initial;
}

#lightBox section div.next {
	width: 60%;
	top: 85%;
	left: 20%;
}

#lightBox section div.next img {
	width: 100%;
} */