/*Denim RGBA(54, 117, 199, 1)*/
/*Beau Blue RGBA(194, 216, 237, 1)*/
/*Light Gray RGBA(209, 209, 209, 1)*/
/*White RGBA(255, 255, 255, 1)*/
/*Kelly Green RGBA(45, 180, 3, 1)*/
/*Magnesium RGBA(180, 180, 180, 1)*/

/*
font-family: 'Lato', sans-serif;
font-family: 'Shadows Into Light', cursive;
*/
#lightBoxWrapper.show {
	display: block;
}

#lightBoxWrapper.hide {
	display: none;
}

#lightBoxWrapper {
	background-image: url("/images/button/full_page_vignette.png");
}

.lightBox {
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 99999;
	background-color: rgba(23, 22, 22, 0.98);
}

.lightBox::after {
	content: "PHOTO MOSAIC in NHN NEXT";
	position: absolute;
	bottom: 3px;
	right: 3px;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: RGBA(255, 255, 255, 0.15);
	font-size: 13px;
}

.lightBox.show {
	display: block;
}

.lightBox.hide {
	display: none;
}

.lightBox input[type='button'] {
	position: fixed;
	right: 10px;
	top: 10px;
	width: 35px;
	height: 35px;
	background: RGBA(255,255,255,0.1);
	border: 1px solid RGBA(255,255,255,1);
	color: RGBA(255, 255, 255, 1);
	font-size: 25px;
	border-radius : 50%;
	-webkit-transform : rotate(0deg);
	-webkit-transition : transform 0.4s, background 0.4s, color 0.4s;
}

.lightBox input[type='button']:hover {
	-webkit-transform : rotate(180deg);
	background: RGBA(255,255,255,0.8);
	color: RGBA(0,0,0, 1);
}

.lightBox input[type='button']:focus {
	outline: none;
}

/* thumbnail view */
.lightBox.represent {
	overflow-y: hidden;
	overflow-x: hidden;
}

.lightBox.represent section {
	height: 70%;
	text-align: center;
	margin-top: 5%;
}

.lightBox.represent section h1 {
	color: RGBA(255, 255, 255, 1);
	width: 100%;
	height: 80px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 70px;
	text-shadow: 2px 2px 0px RGBA(300, 300, 300, 0.2);
	margin-bottom: 5px;
}

.lightBox.represent section div {
	height: 95%;
	min-height: 300px;
	/* padding : 20px; */
	border-radius: 15px;
	/* 	display : inline-block;
	border : 1px solid RGBA(255,255,255,0.3);
	background-color : RGBA(255,255,255,0.2);
 */
}

.lightBox.represent section div img {
	height: 100%;
	border-radius: 15px;
	box-shadow: 0px 0px 30px RGBA(0, 0, 0, 1);
}

/* slide view */
.lightBox.slide {
	/* background: RGBA(10, 10, 10, 1); */
	width: 100%;
	min-width: 600px;
}

.lightBox.slide div section div img {
	box-shadow: 0px 0px 30px RGBA(0, 0, 0, 1);
	border-radius: 10px;
	border : 1px solid RGBA(200,200,200,0.35);
}

.lightBox.slide div.photos {
	position: absolute;
	width: 80%;
	top: 0px;
	left: 0px;
	height: 100%;
	text-align: center;
}

.lightBox.slide div.photos section {
	width: 100%;
	position: relative;
}

.lightBox.slide div section.previous {
	height: 15%;
}

.lightBox.slide div section.current {
	height: 70%;
}

.lightBox.slide div section.next {
	height: 15%;
}

section.preset div {
	position: relative;
	margin: auto;
	width: 80%;
	height: 80%;
}

section.preset div img {
	width: 100%;
}

section.current div {
	margin: auto;
	width: 80%;
	height: 100%;
	position: relative;
}

section.current div img {
	position: relative;
	left: 0px;
}

section.current div img.heightDepend {
	height: 100%;
}

section.current div img.widthDepend {
	width: 100%;
}

section.next div {
	top: 20%;
}

section.previous div img {
	position: absolute;
	left: 0px;
	bottom: 0px;
}


.lightBox.slide div section.preset div:hover::after{
	content : "";
	width : 100%;
	height : 100%;
	position : absolute;
	top : 0px;
	left : 0px;
	background-color : RGBA(255,255,255,0.04);
	border-radius : 10px;
}

.lightBox.slide div section.previous div::before {
	content: "PREVIOUS";
	position: absolute;
	z-index: 999999;
	width: 100%;
	bottom: 20%;
	left: 0px;
	-webkit-transition : bottom 0.4s;
}

.lightBox.slide div section.previous div:hover::before {
	content: "PREVIOUS";
	position: absolute;
	z-index: 999999;
	width: 100%;
	bottom: 20%;
	left: 0px;
}

.lightBox.slide div section.preset div::before{
	color : RGBA(255,255,255,0.7);
	font-size : 2em;
	font-weight : 800;
	font-family: 'Lato', sans-serif;
	text-shadow : 4px 4px 0px RGBA(0,0,0,0.2);
	-webkit-transition : text-shadow 0.4s, font-size 0.4s;
}

.lightBox.slide div section.preset div:hover::before{
	color : RGBA(255,255,255,1);
	font-size : 3em;
	font-weight : 800;
	font-family: 'Lato', sans-serif;
	text-shadow : 4px 4px 0px RGBA(0,0,0,1);
	-webkit-transition : text-shadow 0.4s, font-size 0.4s;
}

.lightBox.slide div section.preset div:hover img {
	-webkit-filter: grayscale(100%);
}

.lightBox.slide div section.next div:hover::before {
	content: "NEXT";
	position: absolute;
	z-index: 999999;
	width: 100%;
	top : 20%;
	left: 0px;
}

.lightBox.slide div section.next div::before {
	content: "NEXT";
	position: absolute;
	z-index: 999999;
	width: 100%;
	top : 20%;
	left: 0px;
	-webkit-transition : top 0.4s;
}


.lightBox.slide nav {
	position: absolute;
	width: 20%;
	left: 80%;
	top: 75px;
	height: 100%;
	text-align: center;
	vertical-align: top;
	height: 100%;
}

.lightBox.slide nav section {
	position: absolute;
	width: 100%;
	height: 80%;
	left: 0px;
	right: 0px;
	margin-left: 80px;
}

.lightBox.slide nav section::before {
	content: "";
	width: 10px;
	height: 100%;
	border: 1px solid RGBA(255,255,255,0.9);
	background: RGBA(255,255,255,0.5);
	position: absolute;
	top: 6px;
	left: -5px;
	border-radius : 3px;
}

.lightBox.slide nav input[type="range"] {
	-webkit-appearance: none;
	position: absolute;
	width: 480px;
	height: 10px;
	background: none;
	border: 40px solid RGBA(0, 0, 0, 0);
	-webkit-transform: rotate(90deg);
}

.lightBox.slide nav input[type="range"]:focus {
	outline: none;
}

.lightBox.slide nav input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	background: RGBA(255,255,255,1);
	height: 20px;
	width: 20px;
	box-shadow: 0px 0px 1px 1px RGBA(80, 80, 80, 0.9);
	-webkit-transition: height 0.5s, width 0.5s;
}

.lightBox.slide nav div {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50px;
	height: 50px;
}

.lightBox.slide nav div img {
	width: 100%;
}