/*Denim RGBA(54, 117, 199, 1)*/
/*Beau Blue RGBA(194, 216, 237, 1)*/
/*Light Gray RGBA(209, 209, 209, 1)*/
/*White RGBA(255, 255, 255, 1)*/
/*Kelly Green RGBA(45, 180, 3, 1)*/
/*Magnesium RGBA(180, 180, 180, 1)*/

/*font-family: 'Lato', sans-serif;*/
@import url(http://fonts.googleapis.com/css?family=Lato:100,400);

body.lightBoxShowing {
	overflow: hidden;
}

body {
	background-size: cover;
}

body::before {
	/* content : url("../images/background/texture_line.png"); */
	content: "";
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: RGBA(10, 10, 10, 0.4);
}

/* ============================== */
/*                                */
/* 결과 페이지에만 적용되는 header 스타일 */
/*                                */
/* ============================== */
div#header header {
	background: RGBA(10, 10, 10, 0.8);
	border-bottom: 1px solid RGBA(10, 10, 10, 0.8);
}

div#header header a {
	position: relative;
	top: 0px;
	left: 0px;
}

div#header header a button {
	color: RGBA(10, 10, 10, 0.8);
	position: relative;
	top: 0px;
	left: 0px;
}

div#header header a button:hover {
	background: none;
}

div#header header a button span {
	color: RGBA(255, 255, 255, 0.8);
	display: inline-block;
	width: initial;
	position: relative;
	top: 0px;
	left: 0px;
	text-shadow: 0px 0px 1px RGBA(255, 255, 255, 0.2);
	-webkit-transition: text-shadow 0.5s;
}

div#header header a button span::before {
	margin: auto;
	content: "";
	width: 0%;
	height: 2px;
	position: absolute;
	bottom: -6px;
	left: 50%;
	background-color: RGBA(255, 255, 255, 0.7);
}

div#header header a button:hover span {
	text-shadow: 0px 0px 10px RGBA(255, 255, 255, 1);
}

div#header header a button:hover span::before {
	margin: auto;
	content: "";
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: -6px;
	left: 0px;
	background-color: RGBA(255, 255, 255, 0.7);
	-webkit-transition: width 0.5s, left 0.5s;
}

/* ========================	*/
/*							*/
/* 사이드바&사진 리스트 보기 시작	*/
/*                        	*/
/* ========================	*/
div#wrapper {
	margin-top: 100px;
	position: relative;
	top: 0px;
	left: 0px;
	text-align: center;
	height: 100%;
}

/* 사진 리스트 */
article#list {
	position: absolute;
	left: 280px;
	top: 0px;
	display: inline-block;
	overflow-x: hidden;
	padding: 40px 20px;
	border: 1px solid RGBA(10, 10, 10, 0.8);
	background: RGBA(10, 10, 10, 0.3);
	-webkit-transition: border 0.3s, padding-left 0.3s;
}

article#list ul {
	text-align: -webkit-left;
}

article#list ul li {
	/* width : 48%; */
	display: inline-block;
	position: relative;
	vertical-align: top;
	-webkit-transition: width 1s;
	margin-left: 3px;
}

article#list ul li img {
	width: 100%;
	border-radius: 2px;
	padding: 0px;
	opacity: 1;
	-webkit-transition: border-radius 0.2s;
	border: 1px solid RGBA(180, 180, 180, 0);
}

article#list ul li img:hover {
	border-radius: 20px;
	-webkit-filter: grayscale(1);
	background: white;
	filter: grayscale(1);
	border: 1px solid RGBA(180, 180, 180, 1);
}

article#list ul li:hover::before {
	content: url(/images/button/magnifier.png);
	position: absolute;
	z-index: 20;
	top: 50%;
	left: 50%;
	margin: -16px;
}

/* @media all and (min-width : 800px) and (max-width: 1280px){
	article#list {
		border : 1px solid red;
	}
	
	article#list ul li {
		width : 48%;
	}
}
 */

/* 사이드바 */
aside {
	position: absolute;
	top: 0px;
	left: 0px;
	/* width: 240px; */
	display: inline-block;
	vertical-align: top;
	padding: 40px 20px;
	overflow: scroll;
	background: RGBA(10, 10, 10, 0.3);
	border: 1px solid RGBA(10, 10, 10, 0.8);
	text-align: -webkit-right;
	-webkit-transition: padding-right 0.3s;
	text-align: -webkit-right;
}

aside section {
	margin-bottom: 30px;
}

aside section.thumbnail img {
	border-radius: 5px;
	width: 100%;
}

aside section.info ul li {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	margin-bottom: 8px;
}

aside section.info ul li p:nth-child(1) {
	display: inline;
	background-color: RGBA(209, 209, 209, 0.5);
	font-style: italic;
	background-color: RGBA(209, 209, 209, 0.5);
}

aside section.share {
	margin-bottom: 0px;
}

aside section.share input[type='button'] {
	width: 100%;
	border: none;
	height: 50px;
	background: RGBA(194, 216, 237, 1);
	color: RGBA(255, 255, 255, 1);
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 30px;
	-webkit-transition: background-color 0.2s;
}

aside section.share input[type='button']:hover {
	background: RGBA(54, 117, 199, 1);
}

aside section.share input[type='button']:focus {
	outline: none;
}

#lightBox {
	position: fixed;
	z-index: 999999;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: RGBA(0, 0, 0, 0.7);
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}

@media all and (max-width : 760px) {
	div#wrapper {
		width: 760px;
	}
	aside {
		position : static;
		/* left: 30px; */
		width: 178px; /* total 200px */
		padding: 40px 10px;
	}
	article#list {
		position : static;
		/* left: 240px; */
		width: 428px; /* total 450px (좌우 border 2px padding 20px 너비 428px) */
		padding: 40px 10px;
	}
	article#list ul li {
		width: 208px; /* total 210 (border : 좌우 1px 씩) */
	}
}

@media all and (min-width : 761px) and (max-width : 1000px) {
	div#wrapper {
		min-width: 761px;
	}
	aside {
		left: 4%;
		width: 23%; /* total 280px */
		padding: 40px 20px;
	}
	article#list {
		left: 27%;
		/* min-width : 478px;  */ /* total 500px */
		padding: 40px 20px;
		margin-left: 50px;
		margin-right: 4%;
	}
	article#list ul li {
		width: 48%;
		
 	}
}

@media all and (min-width : 1001px) {
	div#wrapper {
		width: 940px;
		margin : auto;
		margin-top : 100px;
	}
	aside {
		/* left : 4%; */
		width: 230px; /* total 280px */
		padding: 40px 20px;
	}
	article#list {
		width : 600px;
		left : 272px;
		padding: 40px 20px;
		margin-left : 10px;
	}
	article#list ul li {
		width: 190px; /* 총 192px border 좌우 1px*/
		height : 190px;
	}
}

/* 
@media all and (min-width : 1001px){
	div#wrapper {
		width : 1000px;
		margin : auto;
	}
	aside {
		left : 3%;
		width : 238px; total 280px
		padding : 40px 20px;
	}
	
	article#list {
		left : 26%;
		min-width : 478px;  */ /* total 500px
		padding : 40px 20px;
		margin-left : 50px;
		margin-right : 3%;
	}
	article#list ul li {
		width : 48%;
	}	
}

 */