/*Denim RGBA(54, 117, 199, 1)*/
/*Beau Blue RGBA(194, 216, 237, 1)*/
/*Light Gray RGBA(209, 209, 209, 1)*/
/*White RGBA(255, 255, 255, 1)*/
/*Kelly Green RGBA(45, 180, 3, 1)*/
/*Magnesium RGBA(180, 180, 180, 1)*/


body div#bg{
	position : fixed;
	z-index : -99999999;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
}

body div#bg img.bluredBg{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
}

body.lightBoxShowing {
	overflow: hidden;
}

body {
	background-size: cover;
	background-color : RGBA(54, 117, 199, 1);
	background-attachment : fixed;
}


body::before {
	/* content : url("../images/background/texture_line.png"); */
	content: "";
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: RGBA(10, 10, 10, 0.7);
	/* background-color: RGBA(255,255,255,0.8); */
	
}

body #bluredBg{
	display : none;
}

/* ============================== */
/*                                */
/* 결과 페이지에만 적용되는 header 스타일 */
/*                                */
/* ============================== */
div#header header {
	/* background : RGBA(54, 117, 199, 1); */
	/* background : RGBA(194, 216, 237, 1); */
	background : RGBA(255,255,255,1);
	/* background : RGBA(10, 10, 10, 1); */
	border-bottom: 1px solid RGBA(10, 10, 10, 0.8);
	/* box-shadow : 0px 1px 1px 1px RGBA(0, 0, 0, 0.8); */
	height : 50px;
	-webkit-transition : height 0.2s;
}

div#header header:hover {
	height : 70px;
}

div#header header a {
	position: relative;
	top: 0px;
	left: 0px;
}

div#header header a button {
	color: RGBA(10, 10, 10, 0.8);
	position: relative;
	top: 0px;
	left: 0px;
}

div#header header a button:hover {
	background: none;
}

div#header header a button span {
	/* color: RGBA(255, 255, 255, 0.8); */
	color: RGBA(10, 10, 10, 0.7);
	display: inline-block;
	width: initial;
	font-weight : 400;
	letter-spacing: -1px;
	position: relative;
	top: 0px;
	left: 0px;
	text-shadow: 0px 0px 1px RGBA(255, 255, 255, 0.2);
	-webkit-transition: text-shadow 0.5s;
}

div#header header a button span::before {
	margin: auto;
	content: "";
	width: 0%;
	height: 2px;
	position: absolute;
	bottom: -6px;
	left: 50%;
	background-color: RGBA(10, 10, 10, 0.7);
}

div#header header a button:hover span {
	text-shadow: 0px 0px 10px RGBA(255, 255, 255, 1);
}

div#header header a button:hover span::before {
	margin: auto;
	content: "";
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: -6px;
	left: 0px;
	background-color: RGBA(10, 10, 10, 1);
	-webkit-transition: width 0.5s, left 0.5s;
}

/* ========================	*/
/*							*/
/* 사이드바&사진 리스트 보기 시작	*/
/*                        	*/
/* ========================	*/
div#wrapper {
	
	position: relative;
	top: 0px;
	left: 0px;
	text-align: center;
	height: 100%;
}

/* 사진 리스트 */
article#list {
	position: absolute;
	left: 280px;
	top: 0px;
	display: inline-block;
	margin-bottom : 100px;
	overflow-x: hidden;
	padding: 40px 20px;
	-webkit-transition: border 0.3s, padding-left 0.3s;
	
	/* background: RGBA(10, 10, 10, 1); */
	background-color: RGBA(255,255,255,1);
	border-radius: 5px;
	box-shadow : 2px 2px 0px 0px RGBA(0, 0, 0, 0.8);
	/* box-shadow : 2px 2px 0px 0px RGBA(255,255,255,0.8); */
}

article#list ul {
	text-align: -webkit-left;
}

article#list ul li {
	display: inline-block;
	position: relative;
	vertical-align: top;
	margin-left: 3px;
	margin-bottom : 6px;
	-webkit-transition: width 1s, height 1s;
}

article#list ul li div.background {
	width : 100%;
	height : 100%;
	display : block;
	background-image : url("/images/button/no_image_thumb.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

article#list ul li img {
	display : none;
	width: 100%;
	border-radius: 2px;
	padding: 0px;
	opacity: 1;
	-webkit-transition: border-radius 0.2s;
	border: 1px solid RGBA(180, 180, 180, 0);
}

article#list ul li img:hover {
	border-radius: 20px;
	-webkit-filter: grayscale(1);
	background: white;
	filter: grayscale(1);
	border: 1px solid RGBA(180, 180, 180, 1);
}

article#list ul li:hover::after {
	content: url(/images/button/magnifier.png);
	position: absolute;
	z-index: 20;
	top: 50%;
	left: 50%;
	margin: -16px;
}


/* 사이드바 */
aside {
	position: absolute;
	top: 0px;
	left: 0px;
	/* width: 240px; */
	display: inline-block;
	vertical-align: top;
	padding: 40px 20px;
	overflow: hidden;
	text-align: -webkit-right;
	-webkit-transition: padding-right 0.3s;
	text-align: -webkit-right;

	/* background: RGBA(10, 10, 10, 1); */
	background-color: RGBA(255,255,255,1);
	border-radius: 5px;
	box-shadow : 2px 2px 0px 0px RGBA(0, 0, 0, 0.8);
	/* box-shadow : 2px 2px 0px 0px RGBA(255,255,255,0.8); */
}
aside section.title {
	margin-bottom: 20px;
}

aside section.title p{
	text-align : center;
	font-family: 'Open Sans', sans-serif;
	font-weight : 800;
	font-style : italic;
	font-size : 30px;
}

aside section.thumbnail img {
	border-radius: 5px;
	width: 100%;
	margin-bottom: 15px;
}


aside section.info ul li {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	margin-bottom: 13px;
	text-align : left;
}

aside section.info ul li p {
	font-family: 'Open Sans', sans-serif;
	font-weight : 600;
	font-size : 13px;
}

aside section.info ul li p{
	color : RGBA(80, 80, 80, 1);
}

aside section.info ul li:nth-child(1) p {
	border-top : 1px solid RGBA(220, 220, 220, 1);
	border-bottom : 1px solid RGBA(220, 220, 220, 1);
	padding : 20px 10px;
	font-size : 15px;
	color : RGBA(10, 10, 10, 1);
}


aside section.info ul li:nth-child(2) p::before {
	content : "by_";
	font-family: 'Open Sans', sans-serif;
	font-weight : 600;
	font-size : 10px;
	color : RGBA(180, 180, 180, 1);
	width : 40px;
	display : inline-block;
}

aside section.info ul li:nth-child(3) p::before {
	display : inline-block;
	width : 40px;
	content : "when_";
	font-family: 'Open Sans', sans-serif;
	font-weight : 600;
	font-size : 10px;
	color : RGBA(180, 180, 180, 1);
}

aside section.share {
	margin-bottom: 0px;
}

aside section.share input[type='button'] {
	width: 100%;
	border: none;
	height: 50px;
	background: RGBA(194, 216, 237, 1);
	color: RGBA(255, 255, 255, 1);
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 30px;
	-webkit-transition: background-color 0.2s;
}

aside section.share input[type='button']:hover {
	background: RGBA(54, 117, 199, 1);
}

aside section.share input[type='button']:focus {
	outline: none;
}

#lightBox {
	position: fixed;
	z-index: 999999;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: RGBA(0, 0, 0, 0.9);
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}

@media all and (max-width : 760px) {
	div#wrapper {
		width: 760px;
		margin-top : 100px;
	}
	aside {
		position : static;
		/* left: 30px; */
		width: 178px; /* total 200px */
		padding: 40px 10px;
	}
	article#list {
		position : static;
		/* left: 240px; */
		width: 428px; /* total 450px (좌우 border 2px padding 20px 너비 428px) */
		padding: 40px 10px;
	}
	article#list ul li {
		width: 208px; /* total 210 (border : 좌우 1px 씩) */
		height : 208px;
	}
}

@media all and (min-width : 761px) and (max-width : 1000px) {
	div#wrapper {
		min-width: 761px;
		margin-top : 100px;
	}
	aside {
		left: 4%;
		width: 23%; /* total 280px */
		padding: 40px 20px;
	}
	article#list {
		left: 27%;
		padding: 40px 20px;
		margin-left: 50px;
		margin-right: 4%;
	}
	article#list ul li {
		width: 48%;
		min-width : 210px;
		padding-top : 48%;
 	}
 	
	article#list ul li::before {
		content : " ";
		position : absolute;
		top : 0px;
		left : 0px;
		width : 100%;
		height : 100%;
	}
	
	article#list ul li div{
		position : absolute;
		top : 0px;
		left : 0px;

		width : 100%;
		height : 100%;
	}
	
	article#list ul li img{	
		width  : 100%;
		position : absolute;
		top : 0px;
		left : 0px;
	}
}

@media all and (min-width : 1001px) {
	div#wrapper {
		width: 940px;
		margin : auto;
		margin-top : 100px;
	}
	aside {
		/* left : 4%; */
		width: 230px; /* total 280px */
		padding: 40px 20px;
	}
	article#list {
		width : 600px;
		left : 272px;
		padding: 40px 20px;
		margin-left : 10px;
	}
	article#list ul li {
		width: 190px; /* 총 192px border 좌우 1px*/
		height : 190px;
	}
}
