html, body {
	position: relative;

	min-width: 900px;
	height: 100%;
	min-height: 600px;

	font-family: "Apple SD Gothic Neo";
	
	-webkit-user-select: NONE;
	-moz-user-select: NONE;
	-ms-user-select: NONE;
	user-select: NONE;
}

body * {
	box-sizing: border-box;
	-webkit-appearance: none;
}

.positioner {
	position: relative;
	display: block;
	height: 100%;
}

.select {
	position: absolute;

	left: 0px;
	right: 0px;
	top: 45px;
	bottom: 0px;
}

.select .contents {
	position: absolute;

	width: 80%;
	top: 40px;
	bottom: 100px;

	left: 10%;

	border: 1px solid #bdc7d8;
}

.select header:nth-child(1) {
	display: table;
	position: initial;

	width: 100%;
	height: 40px;
}

.select header > * {
	display: table-cell;
}

.select header > *:nth-child(1) {
	width: 300px;
	border-right: 1px solid #bdc7d8;
}

.select input[type=text] {
	width: 100%;

	margin: 0px;
	padding: 11px 10px;

	border: none;
	outline: none;

	font-size: 16px;
	line-height: 18px;
}

.select .hoverLine {
	position: absolute;
	
	left: -2px;
	right: -1.5px;
	top: 40px;
	bottom: -1.5px;
	
	border: 3px dashed transparent;
	
	box-sizing: initial;
}

.select .hoverLine.hoverIn {
	border: 3px dashed #999;
}

.select .hoverLine.hoverOut {
	border: 3px dashed #BBB;
}

.select .pictures {
	position: absolute;

	left: 0px;
	right: 0px;
	top: 40px;
	bottom: 0px;

	padding: 8px;

	border-top: 1px solid #bdc7d8;

	overflow-y: scroll;
}

.select .pictures .positioner .thumb {
	display: table;
	position: relative;
	float: left;
	
	width: 200px;
	height: 150px;
	
	margin: 5px;
	
	border: 1px solid #CCC;
	box-sizing: initial;
}

.select .pictures .positioner .thumb > section {
	display: table-cell;
	
	width: 100%;
	height: auto;
	
	vertical-align: middle;
}

.select .pictures .positioner .thumb img {
	display: block;
	
	width: auto;
	height: auto;
	max-width: 200px;
	max-height: 150px;
	
	margin: auto;
}

.select .pictures .positioner .thumb .removeButton {
	position: absolute;
	
	width: 30px;
	height: 30px;
	
	top: 0px;
	left: 0px;
	
	opacity: 0;
	
	background-image: url(/images/button/remove.png);
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
	
	-webkit-transition: opacity 0.4s;
	   -moz-transition: opacity 0.4s;
	        transition: opacity 0.4s;
}

.select .pictures .positioner .thumb:hover .removeButton {
	opacity: 1;
}

.select .controll {
	position: absolute;

	width: 80%;
	height: 80px;

	padding: 10px;

	left: 10%;

	bottom: 20px;
}

.select .controll .button {
	position: absolute;
	display: block;

	left: 50%;
	top: 50%;

	margin-left: 8px;
	margin-top: -23px;

	padding: 15px 20px;

	border: none;
	border-radius: 5px;

	font-size: 14px;
	line-height: 16px;

	background-color: #AAA;
}

.inputFile {
	display: table;
	position: absolute;
	
	width: 110px;
	height: 46px;
	
	right: 50%;
	top: 50%;
	
	margin-right: 8px;
	margin-top: -23px;
	
	background-color: #AAA;
	
	border: none;
	border-radius: 5px;
	
	overflow: hidden;
}

.inputFile > div {
	display: table-cell;
	
	text-align: center;
	vertical-align: middle;
	
	font-size: 16px;
}

.inputFile input[type=file] {
	display: block;
	position: absolute;
	
	width: 100%;
	height: 100%;
	
	top: 0px;
	left: 0px;
	
	opacity: 0;
}

