html, body {
	position: relative;
	height: 100%;
	min-height: 450px;

	font-family: "Lato", "Apple SD Gothic Neo";
	font-weight: 400;
	
	-webkit-user-select: NONE;
	-moz-user-select: NONE;
	-ms-user-select: NONE;
	user-select: NONE;
	
	overflow: hidden;
}

body * {
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

.positioner {
	position: relative;
	display: block;
	height: 100%;
}

.hidden {
	opacity: 0;
}

.button {
	display: table;
	
	width: 110px;
	height: 46px;
	
	background-color: #DDD;
	
	border: none;
	border-radius: 15px;
	outline: none;
	
	overflow: hidden;
	box-shadow: 0px 5px rgba(10, 10, 10, 0.4);
	
	transition: all 0.2s;
}

.button, .button * {
	cursor: pointer;
}

.button:hover {
	-webkit-transform: translate3d(0px, 1px, 0px);
	   -moz-transform: translate3d(0px, 1px, 0px);
	        transform: translate3d(0px, 1px, 0px);
	box-shadow: 0px 4px rgba(10, 10, 10, 0.4);
}

.button:active {
	-webkit-transform: translate3d(0px, 5px, 0px);
	   -moz-transform: translate3d(0px, 5px, 0px);
	        transform: translate3d(0px, 5px, 0px);
	box-shadow: 0px 0px rgba(10, 10, 10, 0.4);
}

.button > .value {
	display: table-cell;
	
	text-align: center;
	vertical-align: middle;
}

.clear {
	clear: both;
}

.select {
	position: absolute;

	left: 0px;
	right: 0px;
	top: 50px;
	bottom: 0px;
	
	-webkit-transition: -webkit-transform 0.2s ease-in-out;
	   -moz-transition: transform 0.2s ease-in-out;
	        transition: transform 0.2s ease-in-out;
}

.select .contents {
	position: absolute;

	width: 80%;
	top: 30px;
	bottom: 100px;

	left: 10%;

	border: 1px solid #AAA;
	box-shadow: 0px 3px 6px rgba(10, 10, 10, 0.3);
}

.select header:nth-child(1) {
	display: table;
	position: initial;

	width: 100%;
	height: 40px;
	
	box-shadow: initial;
}

.select header > * {
	display: table-cell;
}

.select header > *:nth-child(1) {
	width: 300px;
	border-right: 1px solid #AAA;
}

.select input[type=text] {
	width: 100%;

	margin: 0px;
	padding: 11px 10px;

	border: none;
	outline: none;

	font-size: 16px;
	line-height: 18px;
}

.select .hoverLine {
	position: absolute;
	
	left: -2px;
	right: -1.5px;
	top: 40px;
	bottom: -1.5px;
	
	border: 3px dashed transparent;
	
	box-sizing: initial;
}

.select .hoverLine.hoverIn {
	border: 3px dashed #999;
}

.select .hoverLine.hoverOut {
	border: 3px dashed #BBB;
}

.select .hoverLine .info div {
	position: absolute;
	
	width: 100%;
	/* height: 105px */
	top: 50%;
	margin-top: -52.5px;
}

.select .hoverLine img {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -46px;
	margin-top: -60px;
	
	opacity: 0.4;
}

.select .hoverLine p {
	width: 100%;
	
	font-size: 30px;
	line-height: 35px;
	font-weight: 800;
	text-align: center;
}

.select .hoverLine div p:nth-child(2) {
	font-size: 24px;
	font-weight: initial;
}

.select .hoverLine div p:nth-child(3) {
	font-size: 26px;
}

.select .pictures {
	position: absolute;

	left: 0px;
	right: 0px;
	top: 40px;
	bottom: 0px;

	padding: 8px;
	border-top: 1px solid #AAA;

	text-align: center;

	overflow-y: scroll;
}

.select .pictures > .positioner {
	height: initial;
	margin: 10px 10px 15px 10px;
}

.select .pictures .positioner .thumb {
	display: inline-block;
	
	width: 200px;
	height: 150px;
	
	margin: 5px;
}

.select .pictures .positioner .thumb > .positioner {
	display: table;
	position: relative;
	
	width: 100%;
	height: 100%;
	
	border: 1px solid #AAA;
}

.select .pictures .positioner .thumb section {
	display: table-cell;
	
	width: 100%;
	height: auto;
	
	vertical-align: middle;
}

.select .pictures .positioner .thumb img {
	display: block;
	
	width: auto;
	height: auto;
	max-width: 200px;
	max-height: 150px;
	
	margin: auto;
}

.select .pictures .positioner .thumb .removeButton {
	position: absolute;
	
	width: 30px;
	height: 30px;
	
	top: 0px;
	left: 0px;
	
	opacity: 0;
	
	background-image: url(/images/button/remove.png);
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
	
	-webkit-transition: opacity 0.4s;
	   -moz-transition: opacity 0.4s;
	        transition: opacity 0.4s;
}

.select .pictures .positioner .thumb:hover .removeButton {
	opacity: 1;
}

.select .controll {
	position: absolute;

	width: 80%;
	height: 80px;

	padding: 10px;

	left: 10%;

	bottom: 20px;
}

.select .controll button {
	position: absolute;
	display: block;

	left: 50%;
	top: 50%;

	margin-left: -55px;
	margin-top: -23px;

	padding: 15px 20px;

	border: none;
	border-radius: 15px;
	outline: none;

	font-size: 15px;
	line-height: 15px;

	background-color: #DDD;
	box-shadow: 0px 5px rgba(10, 10, 10, 0.4);

	cursor: pointer;
	
	transition: all 0.2s;
}

.select .controll button.serverButton:hover {
	-webkit-transform: translate3d(0px, 1px, 0px);
	   -moz-transform: translate3d(0px, 1px, 0px);
	        transform: translate3d(0px, 1px, 0px);
	box-shadow: 0px 4px rgba(10, 10, 10, 0.4);
}


.select .controll .button:hover, .select .controll button.serverButton:hover {
	-webkit-transform: translate3d(0px, 1px, 0px);
	   -moz-transform: translate3d(0px, 1px, 0px);
	        transform: translate3d(0px, 1px, 0px);
	box-shadow: 0px 4px rgba(10, 10, 10, 0.4);
}

.select .controll .button:active, .select .controll button.serverButton:active {
	-webkit-transform: translate3d(0px, 5px, 0px);
	   -moz-transform: translate3d(0px, 5px, 0px);
	        transform: translate3d(0px, 5px, 0px);
	box-shadow: 0px 0px rgba(10, 10, 10, 0.4);
}


.inputFile {
	position: absolute;
	
	left: 50%;
	top: 50%;
	
	margin-left: -180px;
	margin-top: -23px;
}

.inputFile > .value {
	font-size: 16px;
}

.inputFile input[type=file] {
	display: block;
	position: absolute;
	
	width: 100%;
	height: 100%;
	
	top: 0px;
	left: 0px;
	
	opacity: 0;
}
